html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
    /*color: #444;*/
    color: #555;
    border-top: 2px solid #555;
    line-height: 24px;
}

div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:link { 
    text-decoration: none; 
    color: inherit;
}
a:visited { 
    text-decoration: none;
    color: inherit;
}
a:hover { 
    text-decoration: none; 
    color: firebrick;
} 
a:active { 
    color: firebrick;
    font-weight: 300;
}

ul {
    margin-top: 0px;
    list-style-type: square;
}

pre, code {
    background: whitesmoke;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

.container {
    background-color: white;
    margin:auto;
    height: 100%;
    //height: auto;
}

.info {
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    border-right: 1px solid lightgray;
}

.main {
    width: 80%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-left:20%;
    margin-bottom: 20px;
    float: left;
}

.main h1, .main h2, .main h3 {
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    text-transform: capitalize;
    margin-top: 60px;
}

.main h2:nth-child(1) {
    margin-top: 20px;
}

.footnote {
    position:fixed;
    bottom: 0px;
    width:20%;
    padding:10px;
    color:lightgray;
    text-align:center;
}

.center {
    text-align: center;
}

.cell {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.cell span {
    visibility: visible;
}

.cell i {
    font-size: 150%;
}

.header {
    font-size: 300%;
    letter-spacing: 4px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.highlight {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 4px solid firebrick;
    font-style: italic;
    font-weight: 200;
}

@media only screen and (max-width: 1200px) {
    .info, .footnote {
        width: 30%;
    }

    .main {
        width: 70%;
        margin-left: 30%;
    }

    .cell span {
        visibility: visible;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        height: auto;
    }

    .info, .main {
        float: none;
        width: 100%;
    }

    .main {
        position: static; 
        margin-top: 60px;
    }

    .main h1, .main h2, .main h3 {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .info {
        border-top: 2px solid #555;
        display:table;
        position: fixed;
        background: white;
        top: 0px;
        height: 40px;
        border-right: none;
        border-bottom: 1px solid lightgray;;
    }

    .main {
        height: auto;
        //overflow-y: hidden;
        margin-left: 0%;
        margin-bottom: 0px;
    }

    .footnote {
        width: 100%;
        position: static; 
    }

    .header {
        /*font-size: 150%;*/
    }

    .icons {
        display:table-cell;
        vertical-align:middle;
        //display: table;
        //width: 20%;
        height: 100%;
        text-align: right;
    }
    
    .info .header {
        display:table-cell;
        vertical-align: middle;
        font-size: 150%;
        height: 100%;
        width: 80%;
        text-align: left;
    }
    
    .info .cell {
        display: table-cell;
        height: 100%;
        margin: 0;
    }
    
    .info .header .cell {
        width: 80%;
        text-align: left;
    }

    .info .icons .cell {
        padding-right: 5px;
        text-align: right;
    }

    .info .icons .cell span {
        visibility: hidden;
        display: none;
    }

    .info .cell i {
        font-size: 150%;
    }
}
