html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    border-top: 2px solid #ff9900;
}

div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:link { 
    text-decoration:none; 
    color: inherit;
}
a:visited { 
    text-decoration:none; color:inherit;
}
a:hover { 
    text-decoration:none; 
    color: #ff9900;
}
a:active { 
    color: #ff9900;
    font-weight: 300;
}

hr {
    border: 0; 
    height: 1px;
    background: #444;
    background-image: -webkit-linear-gradient(left, #ccc, #444, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #444, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #444, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #444, #ccc);
}

.container {
    background-color: white;
    margin:auto;
    padding: 5px;
    padding-top: 40px;
    width: 85%;
    max-width:950px;
    height: 90%;
}

.footer {
    border-top: 1px solid lightgray;
    display: table;
    height: 10%;
    width: 100%;
}

.center {
    text-align: center;
}

.entry, .error_404 {
    width: 100%;
    margin-top: 10px;
}


.entry {
    padding: 5px;
    font-weight:400;
    line-height: 25px;
}

.error_404 {
    display:table;
}

.error_404 {
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align:center;
    background: whitesmoke;
    height: 400px;
    font-size: 200%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.left {
    text-align:left;
}

.right {
    text-align: right;
}

.large {
    font-size: 300%;
    letter-spacing: 4px;
    font-weight: bold;
    line-height: normal;
}

.outline {
    //border-top: 1px solid lightgray;
    border-radius: 2px;
}

.info {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px) {
.container {
    width: 98%;
    padding-top: 10px;
    height: auto;
}
.large {
    font-size: 200%;
}

.footer {
    display: block;
    border: none;
}

.footer .cell {
    display: block;
    margin-top: 40px;
}

}
